In [1]:
import pandas as pd
import pandas as pd
from sqlalchemy import create_engine, inspect
import psycopg2

In [2]:
pres_gdp = pd.read_csv("president_gdp-94.csv")
pres_terms = pd.read_csv("president_terms-94.csv")

In [22]:
pres_gdp.columns = pres_gdp.columns.str.lower()
pres_gdp.columns = pres_gdp.columns.str.replace(" ","_")

pres_terms.columns = pres_terms.columns.str.lower()
pres_terms.columns = pres_terms.columns.str.replace(" ","_")

In [24]:
# PostgreSQL connection parameters
postgres_params = {
    "database": "postgres", # Insert the name of database
    "user": "postgres",     # Insert username if different
    "password": "!QAZ1qaz",         # Insert your password
    "host": "localhost",    # Replace with your PostgreSQL host if not local
    "port": 5432,
    "options": "-c search_path=dbo,public"}

# Establish a connection to PostgreSQL
conn_str = "postgresql+psycopg2://{user}:{password}@{host}:{port}/{database}".format(**postgres_params)
postgres_engine = create_engine(conn_str)

# Write DataFrame to PostgreSQL
pres_gdp.to_sql('pres_gdp', con=postgres_engine, index=False, if_exists='replace')
pres_terms.to_sql('pres_terms', con=postgres_engine, index=False, if_exists='replace')

67

In [26]:
query="""
select * from pres_terms;
"""
pd.read_sql(sql= query, con= postgres_engine)

    start  stop               name                vp  bday  bmonth  byear
0    1789  1797  George Washington        John Adams    22       2   1732
1    1797  1801         John Adams  Thomas Jefferson    30      10   1735
2    1801  1805   Thomas Jefferson        Aaron Burr    13       4   1743
3    1805  1809   Thomas Jefferson    George Clinton    13       4   1743
4    1809  1812      James Madison    George Clinton    16       3   1751
..    ...   ...                ...               ...   ...     ...    ...
62   1993  2001    William Clinton       Albert Gore    19       8   1946
63   2001  2009        George Bush    Richard Cheney    12       6   1924
64   2009  2017       Barack Obama   Joseph R. Biden     4       8   1961
65   2017  2021       Donald Trump        Mike Pence    14       6   1946
66   2021  2023       Joseph Biden     Kamala Harris    20      11   1942

[67 rows x 7 columns]