## Preprocessing

In [31]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

In [32]:
pres_gdp = pd.read_csv("presidentfinal_df.csv")
pres_bday = pd.read_csv("birthdates-of-us-presidents.csv")
pres_bday=pres_bday.drop("csvbase_row_id",axis=1)
pres_bday = pres_bday.rename(columns={"Date of birth":"birthday","Name":"name"})
pres_gdp=pres_gdp.rename(columns={  'Year':'year',
                                    'President':'president',
                                    'Party':'party',
                                    'Nominal GDP (million of Dollars)':"nominal_gdp(million_of_dollars)",
                                    'Real GDP (millions of 2017 dollars)':'real_gdp(millions_of_2017_dollars)',
                                    'GDP Deflator (index 2017=100)':'gdp_deflator_(index_2017=100)',
                                    'Population':'population',
                                    'Nominal GDP per capita (current dollars)':'nominal_gdp_per_capita_(current_dollars)',
                                    'Real GDP per capita (year 2017 dollars)':'real_gdp_per_capita_(year_2017_dollars)'
})

In [33]:
pres_gdp.head(10)

,year,president,party,nominal_gdp(million_of_dollars),real_gdp(millions_of_2017_dollars),gdp_deflator_(index_2017=100),population,nominal_gdp_per_capita_(current_dollars),real_gdp_per_capita_(year_2017_dollars)
0,1789,George Washington,NaN,138.66,6894.01,2.01,6698461.39,20.7,1029.19
1,1790,George Washington,NaN,193,"4,975",3.88,"3,929,000",49.1,"1,266.23"
2,1791,George Washington,NaN,210,"5,274",3.98,"4,048,000",51.89,"1,302.85"
3,1792,George Washington,NaN,230,"5,663",4.05,"4,171,000",55.03,"1,357.63"
4,1793,George Washington,NaN,256,"6,113",4.19,"4,297,000",59.67,"1,422.52"
5,1794,George Washington,NaN,321,"6,905",4.65,"4,428,000",72.56,"1,559.46"
6,1795,George Washington,NaN,390,"7,331",5.32,"4,562,000",85.53,"1,607.03"
7,1796,George Washington,NaN,423,"7,553",5.60,"4,700,000",90.06,"1,606.92"
8,1797,John Adams,Federalist,415,"7,692",5.39,"4,843,000",85.65,"1,588.26"
9,1798,John Adams,Federalist,418,"8,009",5.22,"4,990,000",83.73,"1,605.09"

In [34]:
pres_bday = pres_bday.rename(columns={"name" : "president"})
pres_bday.head()

           president    birthday
0  George Washington  1732-02-22
1         John Adams  1735-10-30
2   Thomas Jefferson  1743-04-13
3      James Madison  1751-03-16
4       James Monroe  1758-04-28

In [35]:
joined_df = pres_bday.merge(pres_gdp, on="president", how="left")

joined_df['party'].fillna("none", inplace=True)

joined_df.fillna(0, inplace=True)

joined_df.head()

,president,birthday,year,party,nominal_gdp(million_of_dollars),real_gdp(millions_of_2017_dollars),gdp_deflator_(index_2017=100),population,nominal_gdp_per_capita_(current_dollars),real_gdp_per_capita_(year_2017_dollars)
0,George Washington,1732-02-22,1789.0,none,138.66,6894.01,2.01,6698461.39,20.7,1029.19
1,George Washington,1732-02-22,1790.0,none,193,"4,975",3.88,"3,929,000",49.1,"1,266.23"
2,George Washington,1732-02-22,1791.0,none,210,"5,274",3.98,"4,048,000",51.89,"1,302.85"
3,George Washington,1732-02-22,1792.0,none,230,"5,663",4.05,"4,171,000",55.03,"1,357.63"
4,George Washington,1732-02-22,1793.0,none,256,"6,113",4.19,"4,297,000",59.67,"1,422.52"

In [36]:
base_df = joined_df.copy()

base_df= base_df[['president', 'birthday','year','party','nominal_gdp(million_of_dollars)','nominal_gdp_per_capita_(current_dollars)']]

base_df['nominal_gdp(million_of_dollars)']= base_df['nominal_gdp(million_of_dollars)'].str.replace(',', '').astype(float)
base_df['nominal_gdp_per_capita_(current_dollars)']= base_df['nominal_gdp_per_capita_(current_dollars)'].str.replace(',', '').astype(float)
base_df.head(15)

,president,birthday,year,party,nominal_gdp(million_of_dollars),nominal_gdp_per_capita_(current_dollars)
0,George Washington,1732-02-22,1789.0,none,138.66,20.70
1,George Washington,1732-02-22,1790.0,none,193.00,49.10
2,George Washington,1732-02-22,1791.0,none,210.00,51.89
3,George Washington,1732-02-22,1792.0,none,230.00,55.03
4,George Washington,1732-02-22,1793.0,none,256.00,59.67

In [37]:
drop_df = base_df.drop(columns=["president",'party'])
drop_df.head()

,birthday,year,nominal_gdp(million_of_dollars),nominal_gdp_per_capita_(current_dollars)
0,1732-02-22,1789.0,138.66,20.70
1,1732-02-22,1790.0,193.00,49.10
2,1732-02-22,1791.0,210.00,51.89
3,1732-02-22,1792.0,230.00,55.03
4,1732-02-22,1793.0,256.00,59.67

In [38]:
# Convert categorical data to numeric with `pd.get_dummies` --- creates booleans of the categories
dummy_df1 = base_df[['president','party']]

dummy_df1.index=base_df['year']

dummy_df2 = pd.get_dummies(dummy_df1)

dummy_df2.head()

,president_Abraham Lincoln,president_Andrew Jackson,president_Andrew Johnson,president_Barack Obama,president_Benjamin Harrison,president_Bill Clinton,president_Calvin Coolidge,president_Chester A. Arthur,president_Donald Trump,president_Dwight D. Eisenhower,...,president_William McKinley,president_Woodrow Wilson,president_Zachary Taylor,party_Democrat,party_Democratic-Republican,party_Federalist,party_National Union,party_Republican,party_Whig,party_none
year,,,,,,,,,,,,,,,,,,,,,
1789.0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
1790.0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
1791.0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
1792.0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
1793.0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True

In [39]:
dummy_df3 = pd.merge(drop_df, dummy_df2, on="year")

dummy_df3['birthday'] = pd.to_datetime(dummy_df3['birthday'])
# dummy_df3['birthday'] = dummy_df3['birthday'].astype(str)
# dummy_df3['birthday']= dummy_df3['birthday'].apply(lambda x: x.encode('utf-8'))
# dummy_df3['birthday']= dummy_df3['birthday'].apply(lambda x: x.decode('utf-8'))
dummy_df3['birthday'] = dummy_df3['birthday'].view('int64') // 10**9
# dummy_df3['birthday'] = dummy_df3['birthday'].astype(int)
dummy_df3.head()
dummy_df3.dtypes

birthday                                      int64
year                                        float64
nominal_gdp(million_of_dollars)             float64
nominal_gdp_per_capita_(current_dollars)    float64
president_Abraham Lincoln                      bool
president_Andrew Jackson                       bool
president_Andrew Johnson                       bool
president_Barack Obama                         bool
president_Benjamin Harrison                    bool
president_Bill Clinton                         bool
president_Calvin Coolidge                      bool
president_Chester A. Arthur                    bool
president_Donald Trump                         bool
president_Dwight D. Eisenhower                 bool
president_Franklin D. Roosevelt                bool
president_Franklin Pierce                      bool
president_George H. W. Bush                    bool
president_George W. Bush                       bool
president_George Washington                    bool
president_Gerald Ford                          bool
president_Grover Cleveland                     bool
president_Harry S. Truman                      bool
president_Herbert Hoover                       bool
president_James A. Garfield                    bool
president_James Buchanan                       bool
president_James K. Polk                        bool
president_James Madison                        bool
president_James Monroe                         bool
president_Jimmy Carter                         bool
president_Joe Biden                            bool
president_John Adams                           bool
president_John F. Kennedy                      bool
president_John Quincy Adams                    bool
president_John Tyler                           bool
president_Lyndon B. Johnson                    bool
president_Martin Van Buren                     bool
president_Millard Fillmore                     bool
president_Richard Nixon                        bool
president_Ronald Reagan                        bool
president_Rutherford B. Hayes                  bool
president_Theodore Roosevelt                   bool
president_Thomas Jefferson                     bool
president_Ulysses S. Grant                     bool
president_Warren G. Harding                    bool
president_William Henry Harrison               bool
president_William Howard Taft                  bool
president_William McKinley                     bool
president_Woodrow Wilson                       bool
president_Zachary Taylor                       bool
party_Democrat                                 bool
party_Democratic-Republican                    bool
party_Federalist                               bool
party_National Union                           bool
party_Republican                               bool
party_Whig                                     bool
party_none                                     bool
dtype: object

In [40]:
dummy_df3.shape

(253, 56)

In [41]:
# # lets split x and y for the modeling
# X = dummy_df3['birthday']
# X= pd.DataFrame(X)

In [42]:
# y= dummy_df3.drop(columns=['birthday','year'])
# y

In [43]:
##NN don't do well <10K datapoints, NN can't understand use ML algorithms -- target discrete values -- clustering or discrete value problem (elbow etc Kmeans, hier, and clustering)
## 1)based on inputs = 2) cluster 1 = 3) cluster 1 = this output
## birthday extract day of week = association
## non-shuffle label-encoding
## classification
## randomforest/ logistic (due to size)
## engineer new features - sklearn-- polynomial features column 1 and 2 and multiply etc-- interaction terms
## model selection tools 
## run column correlations against each other -- non linearity in dataset = tsne or dbscan
y=dummy_df3["birthday"].values.reshape(-1,1) #discrete value go with labelencoding -scikitlearn converts dates to 1-2-3-4-5 etc
# reverse label-encoding (inverse scaling example from class)
X=dummy_df3.loc[:, (dummy_df3.columns != "birthday") & (dummy_df3.columns != "year")]

X

,nominal_gdp(million_of_dollars),nominal_gdp_per_capita_(current_dollars),president_Abraham Lincoln,president_Andrew Jackson,president_Andrew Johnson,president_Barack Obama,president_Benjamin Harrison,president_Bill Clinton,president_Calvin Coolidge,president_Chester A. Arthur,...,president_William McKinley,president_Woodrow Wilson,president_Zachary Taylor,party_Democrat,party_Democratic-Republican,party_Federalist,party_National Union,party_Republican,party_Whig,party_none
0,138.66,20.70,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
1,193.00,49.10,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
2,210.00,51.89,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
3,230.00,55.03,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
4,256.00,59.67,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
248,21521395.00,65115.12,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
249,21322950.00,64266.79,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
250,23594031.00,70991.30,False,False,False,False,False,False,False,False,...,False,False,False,True,False,False,False,False,False,False
251,25744108.00,77171.74,False,False,False,False,False,False,False,False,...,False,False,False,True,False,False,False,False,False,False
252,27360900.00,81623.65,False,False,False,False,False,False,False,False,...,False,False,False,True,False,False,False,False,False,False

In [44]:
X.shape

(253, 54)

In [45]:
#train_size = int(len(df) * 0.8) X_train, X_test = X[:train_size], X[train_size:] y_train, y_test = y[:train_size], y[train_size:]

# Split the preprocessed data into a training and testing dataset -- choose to stratify so that the classes are more balanced out bc it's a small dataset and imbalanced
X_train, X_test, y_train, y_test = train_test_split(X, y,test_size=.2, random_state=42)

In [46]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the StandardScaler on the training data
X_scaler = scaler.fit(X_train)

# Scale the training and testing data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [47]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
nn = tf.keras.models.Sequential()

input_shape = X.shape[1] # number of columns in the dataset

# First hidden layer
nn.add(tf.keras.layers.Dense(units=128, activation='relu', input_shape=(input_shape,))) # first layer inputting shape to avoid keras error message

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=64, activation='relu'))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))#binary only--- 

# Check the structure of the model
nn.summary()

c:\Users\19727\Anaconda3\envs\dev\lib\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Model: "sequential_1"

â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”³â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”³â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”“
â”ƒ Layer (type)                    â”ƒ Output Shape           â”ƒ       Param # â”ƒ
â”¡â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â•‡â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â•‡â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”©
â”‚ dense_3 (Dense)                 â”‚ (None, 128)            â”‚         7,040 â”‚
â”œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚ dense_4 (Dense)                 â”‚ (None, 64)             â”‚         8,256 â”‚
â”œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚ dense_5 (Dense)                 â”‚ (None, 1)              â”‚            65 â”‚
â””â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”˜

 Total params: 15,361 (60.00 KB)

 Trainable params: 15,361 (60.00 KB)

 Non-trainable params: 0 (0.00 B)

In [48]:
# Compile the model

# define optimizer -- these can be adam(go-to), SGD(basic), RMSProp(RNN,online learning), Adagrad(sparse data, text processing), adadelta(better adagrad)
# define loss function -- these can be binary crossentropy, categorical crossentropy, mean squared or error (continuous data), hinge loss
# define metrics -- for classification like this--- this is usually "accuracy"

# Compile the model
nn.compile(optimizer='adam',
           loss='binary_crossentropy',    # Loss function: Binary crossentropy for binary classification
           metrics=['accuracy'])

In [49]:
# Train the model
nn.fit(X_train_scaled,
       y_train,
       epochs = 10,
       batch_size = 32,
       shuffle = True,
       verbose = 2,
       validation_data=(X_test_scaled, y_test))

Epoch 1/10
7/7 - 10s - 1s/step - accuracy: 0.0000e+00 - loss: 79238120.0000 - val_accuracy: 0.0000e+00 - val_loss: -1.3992e+08
Epoch 2/10
7/7 - 0s - 42ms/step - accuracy: 0.0000e+00 - loss: -2.0401e+08 - val_accuracy: 0.0000e+00 - val_loss: -2.8559e+08
Epoch 3/10
7/7 - 0s - 41ms/step - accuracy: 0.0000e+00 - loss: -3.5846e+08 - val_accuracy: 0.0000e+00 - val_loss: -4.3668e+08
Epoch 4/10
7/7 - 0s - 40ms/step - accuracy: 0.0000e+00 - loss: -5.1906e+08 - val_accuracy: 0.0000e+00 - val_loss: -5.9443e+08
Epoch 5/10
7/7 - 0s - 37ms/step - accuracy: 0.0000e+00 - loss: -6.8809e+08 - val_accuracy: 0.0000e+00 - val_loss: -7.5951e+08
Epoch 6/10
7/7 - 0s - 34ms/step - accuracy: 0.0000e+00 - loss: -8.6389e+08 - val_accuracy: 0.0000e+00 - val_loss: -9.3911e+08
Epoch 7/10
7/7 - 0s - 36ms/step - accuracy: 0.0000e+00 - loss: -1.0598e+09 - val_accuracy: 0.0000e+00 - val_loss: -1.1306e+09
Epoch 8/10
7/7 - 0s - 37ms/step - accuracy: 0.0000e+00 - loss: -1.2665e+09 - val_accuracy: 0.0000e+00 - val_loss: -1.3401e+09
Epoch 9/10
7/7 - 0s - 26ms/step - accuracy: 0.0000e+00 - loss: -1.4950e+09 - val_accuracy: 0.0000e+00 - val_loss: -1.5683e+09
Epoch 10/10
7/7 - 0s - 23ms/step - accuracy: 0.0000e+00 - loss: -1.7359e+09 - val_accuracy: 0.0000e+00 - val_loss: -1.8179e+09

In [50]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

2/2 - 0s - 42ms/step - accuracy: 0.0000e+00 - loss: -1.8179e+09
Loss: -1817904384.0, Accuracy: 0.0

In [52]:
# Export our model to HDF5 file
nn.save('model1caite.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.